<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>tolet</title>
        <link rel="stylesheet" href="css/components.css">
        <link rel="stylesheet" href="css/icons.css">
        <link rel="stylesheet" href="css/responsee.css">
        <link rel="stylesheet" href="owl-carousel/owl.carousel.css">
        <link rel="stylesheet" href="owl-carousel/owl.theme.css">
        <link rel="stylesheet" href="css/lightcase.css">
        <!-- CUSTOM STYLE -->      
        <link rel="stylesheet" href="css/template-style.css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,400,600,900&subset=latin-ext" rel="stylesheet"> 
        <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="js/jquery-ui.min.js"></script>  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>

        <script>



            var app = angular.module('myApp', []);
            app.controller('myCtrl', function ($scope, $http) {
                $scope.allflat = [];


                $scope.addFlatform = {

                    name: "",
                    location: "",
                    address: "",
                    contact: "",
                    floorNo: "",
                    flatSize: "",
                    badRoom: "",
                    bathroom: "",
                    drowingroom: "",
                    diningroom: "",
                    balcony: ""



                };







                getall();




                $scope.addflatditails = function () {
                    $http({
                        method: 'POST',
                        url: 'http://localhost:8080/Tolet_1/rest/flats',
                        data: angular.toJson($scope.addFlatform),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(success);

                };




                function getall() {
                    $http.get("http://localhost:8080/Tolet_1/rest/flats")
                            .then(function (response) {
                                $scope.allflat = response.data;
                            }, function (response) {
                                $scope.allflat = "Something went wrong";
                            });
                }
                ;

                function success(response) {
                    getall();
                    clear();
                }

                function clear() {

                    $scope.addFlatform.name = "",
                            $scope.addFlatform.location = "";
                    $scope.addFlatform.address = "";
                    $scope.addFlatform.contact = "";
                    $scope.addFlatform.floorNo = "";

                    $scope.addFlatform.flatSize = "";
                    $scope.addFlatform.badRoom = "";
                    $scope.addFlatform.bathroom = "";
                    $scope.addFlatform.drowingroom = "";
                    $scope.addFlatform.diningroom = "";
                    $scope.addFlatform.balcony = "";

                };
              





            });




        </script>

        <style>
            .clsScroll{
                height: 50px;
                width: 200px;
                background-color:lightgrey;
                overflow: scroll;


            }

        </style>

    </head>

    <body class="size-1140" ng-app="myApp" ng-controller="myCtrl">
        <!-- PREMIUM FEATURES BUTTON -->
        <a target="_blank" class="hide-s" href="../template/minimalista-premium-responsive-business-template/" style="position:fixed;top:120px;right:-14px;z-index:10;"><img src="img/premium-features.png" alt=""></a>
        <div id="page-wrapper">
            <!-- HEADER -->
            <header role="banner" class="position-absolute margin-top-30 margin-m-top-0 margin-s-top-0">    
                <!-- Top Navigation -->
                <nav class="background-dark-hightlight background-primary full-width sticky">
                    <div class="s-12 l-2">
                        <a href="index.html" class="logo">
                            <!-- Logo version before sticky nav -->
                            <h3 class="logo-before">To-Let</h3>
                            <!-- Logo version after sticky nav -->
                            <h3 class="logo-after" >To-Let</h3>
                        </a>
                       
                    </div>
                    <div class="s-12 l-10">
                        <div class="top-nav right">
                            <h2 class="nav-text"></h2>
                            <ul class="right chevron">
                                <li ><a href="index.html">Home</a></li>
                                <li><a href="about-us.html">About Us</a></li>             
                                <li><a href="contact.html">Contact</a></li>
                               
                                

                            </ul>
                        </div>
                    </div>  
                </nav>
            </header>
            <!--            [{"address":"46/a mohakhali dhaka","badRoom":3,"balcony":"2","bathroom":2,"contact":"0198837474","diningroom":"1","drowingroom":"1","flatSize":1200,"floorNo":5,"id":1,"location":"dhaka","name":"flat"}]-->

            <!-- MAIN -->
            <main role="main">
                <!-- Content -->
                <article>
                    <header class="section background-dark">
                        <div class="line text-center" >        
                            <h1 class="text-primary-hover text-s-size-30 text-m-size-40 text-l-size-headline text-thin text-line-height-1">To-Let</h1>
                            <h2 class="margin-bottom-0 text-size-30 text-primary-hover">Hire Every Things !!!<br> What's are you need? </h2>
                        </div>  
                    </header>
                    <div class=" full-width"> 

                        <div class="container">
                            <div class="row">
                                <h1>Create Advertisement</h1>
                                <div class="col-sm-6">

                                    <form ng-submit="addflatditails()">
                                        <table class="table table-responsive table-bordered">
                                            <tr>
                                                <th colspan="2" class="text-l-size-20">Add/Edit Flat Details</th>
                                            </tr>
                                            <tr>
                                                <td class="text-l-size-16">Rental Name :</td>
                                                <td><input type="text" ng-model="addFlatform.name" value="Flat" class="form-control "/></td>
                                            </tr>
                                            <tr>
                                                <td class="text-l-size-16">Rental Location :</td>
                                                <td> 

                                                    <select ng-model="addFlatform.location" class="form-control s" >


                                                        <option value="Comilla">Comilla</option>
                                                        <option value="Feni">Feni</option>
                                                        <option value="Brahmanbaria">Brahmanbaria</option>
                                                        <option value="Rangamati">Rangamati</option>
                                                        <option value="Noakhali">Noakhali</option>
                                                        <option value="Chandpur">Chandpur</option>
                                                        <option value="Lakshmipur">Lakshmipur</option>
                                                        <option value="Chittagong">Chittagong</option>                 
                                                        <option value="Coxsbazar">Coxsbazar</option>
                                                        <option value="Khagrachhari">Khagrachhari</option>
                                                        <option value="Bandarban">Bandarban</option>


                                                        <option value="Sirajganj">Sirajganj</option>
                                                        <option value="Pabna">Pabna</option>
                                                        <option value="Bogra">Bogra</option>
                                                        <option value="Rajshahi">Rajshahi</option>
                                                        <option value="Natore">Natore</option>                
                                                        <option value="Joypurhat">Joypurhat</option>
                                                        <option value="Chapainawabganj">Chapainawabganj</option>
                                                        <option value="Naogaon">Naogaon</option>



                                                        <option value="Jessore">Jessore</option>
                                                        <option value="Satkhira">Satkhira</option>
                                                        <option value="Meherpur">Meherpur</option>
                                                        <option value="Narail">Narail</option>
                                                        <option value="Chuadanga">Chuadanga</option>                              
                                                        <option value="Kushtia">Kushtia</option>
                                                        <option value="Magura">Magura</option>
                                                        <option value="Khulna">Khulna</option>
                                                        <option value="Bagerhat">Bagerhat</option>
                                                        <option value="Jhenaidah">Jhenaidah</option>


                                                        <option value="Jhalakathi">Jhalakathi</option>
                                                        <option value="Patuakhali">Patuakhali</option>
                                                        <option value="Pirojpur">Pirojpur</option>             
                                                        <option value="Barisal">Barisal</option>
                                                        <option value="Bhola">Bhola</option>
                                                        <option value="Barguna">Barguna</option>



                                                        <option value="Sylhet">Sylhet</option>
                                                        <option value="Moulvibazar">Moulvibazar</option>
                                                        <option value="Habiganj">Habiganj</option>
                                                        <option value="Sunamganj">Sunamganj</option>


                                                        <option value="Narsingdi">Narsingdi</option>
                                                        <option value="Gazipur">Gazipur</option>
                                                        <option value="Shariatpur">Shariatpur</option>
                                                        <option value="Narayanganj">Narayanganj</option>
                                                        <option value="Tangail">Tangail</option>
                                                        <option value="Kishoreganj">Kishoreganj</option>
                                                        <option value="Manikganj">Manikganj</option>
                                                        <option value="Dhaka">Dhaka</option>
                                                        <option value="Munshiganj">Munshiganj</option>
                                                        <option value="Rajbari">Rajbari</option>
                                                        <option value="Madaripur">Madaripur</option>
                                                        <option value="Gopalganj">Gopalganj</option>
                                                        <option value="Faridpur">Faridpur</option>


                                                        <option value="Panchagarh">Panchagarh</option>
                                                        <option value="Dinajpur">Dinajpur</option>
                                                        <option value="Lalmonirhat">Lalmonirhat</option>
                                                        <option value="Nilphamari">Nilphamari</option>
                                                        <option value="Gaibandha">Gaibandha</option>
                                                        <option value="Thakurgaon">Thakurgaon</option>
                                                        <option value="Kurigram">Kurigram</option>
                                                        <option value="Rangpur">Rangpur</option>




                                                        <option value="Sherpur">Sherpur</option>
                                                        <option value="Mymensingh">Mymensingh</option>
                                                        <option value="Jamalpur">Jamalpur</option>
                                                        <option value="Netrokona">Netrokona</option>
                                                    </select>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-l-size-16">Rental Address :</td>
                                                <td><input type="text" ng-model="addFlatform.address" class="form-control"/></td>
                                            </tr>
                                            <tr>
                                                <td class="text-l-size-16">Contact NO:</td>
                                                <td><input type="text" ng-model="addFlatform.contact"  class="form-control"/></td>
                                            </tr>
                                            <tr>
                                                <td class="text-l-size-16">Floor NO :</td>
                                                <td><input type="text" ng-model="addFlatform.floorNo"  class="form-control"/></td>
                                            </tr>
                                            <td class="text-l-size-16"> Flat Size :</td>
                                            <td><input type="text" ng-model="addFlatform.flatSize" class="form-control"/></td>
                                            </tr>
                                            <tr>
                                                <td class="text-l-size-16">Number of Badroom :</td>
                                                <td><input type="text" ng-model="addFlatform.badRoom"  class="form-control"/></td>
                                            </tr>
                                            <tr>
                                                <td class="text-l-size-16">Number of Bathroom :</td>
                                                <td><input type="text" ng-model="addFlatform.bathroom"  class="form-control"/></td>
                                            </tr>
                                            <td class="text-l-size-16">Drowing Room (yes/no) :</td>
                                            <td><input type="text" ng-model="addFlatform.drowingroom" class="form-control"/></td>
                                            </tr>
                                            <tr>
                                                <td class="text-l-size-16">Dining Room (yes/no) :</td>
                                                <td><input type="text" ng-model="addFlatform.diningroom"  class="form-control"/></td>
                                            </tr>
                                            <tr>
                                                <td class="text-l-size-16">Number of balcony :</td>
                                                <td><input type="text" ng-model="addFlatform.balcony"  class="form-control"/></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="text-l-size-20"><input type="submit" value="Submit" class="btn-primary" /></td>
                                            </tr>
                                        </table>
                                    </form>


                                </div>
                                <div class="col-sm-6">


                                    <img src="img/portfolio/thumb-10.jpg" alt="Don't find image" >
                                    <h2>My Dreams !!!!</h2> 
                                </div>
                            </div>

                        </div>

                    </div>  
                </article>
            </main>

            <!-- FOOTER -->
            <footer>
                <!-- Contact Us -->
                <div class="background-dark padding text-center footer-social">
                    <a class="margin-right-10" target="_blank" href="https://www.facebook.com"><i class="icon-facebook_circle text-size-30"></i> <span class="text-strong text-white hide-s hide-m">FACEBOOK</span></a>
                    <a class="margin-right-10" target="_blank" href="https://www.twitter.com"><i class="icon-twitter_circle text-size-30"></i> <span class="text-strong text-white hide-s hide-m">TWITTER</span></a>
                    <a class="margin-right-10" target="_blank" href="https://www.instagram.com"><i class="icon-instagram_circle text-size-30"></i> <span class="text-strong text-white hide-s hide-m">INSTAGRAM</span></a>
                    <a target="_blank" href="https://www.linkedin.com"><i class="icon-linked_in_circle text-size-30"></i> <span class="text-strong text-white hide-s hide-m">LINKEDIN</span></a>                                                                         
                </div>

                <!-- Main Footer -->
                <section class="section-small-padding text-center background-dark full-width">
                    <div class="line">
                        <div class="margin">
                            <!-- Collumn 1 -->              
                            <div class="s-12 m-12 l-4 margin-m-bottom-30">
                                <h3 class="text-size-16">Company Address</h3>
                                <p class="text-size-14">
                                    Responsive Street 7<br>
                                    London - United Kingdom<br> 
                                    Europe
                                </p>               
                            </div>
                            <!-- Collumn 2 -->
                            <div class="s-12 m-12 l-4 margin-m-bottom-30">
                                <h3 class="text-size-16">E-mail</h3>
                                <p class="text-size-14">
                                    contact@sampledomain.com<br>
                                    office@sampledomain.com
                                </p>              
                            </div>
                            <!-- Collumn 3 -->
                            <div class="s-12 m-12 l-4 ">
                                <h3 class="text-size-16">Phone Numbers</h3>
                                <p class="text-size-14">
                                    0800 4521 800 50<br>
                                    0450 5896 625 16<br>
                                    0798 6546 465 15
                                </p>             
                            </div>
                        </div>
                    </div>  
                </section>
                <hr class="break margin-top-bottom-0" style="border-color: rgba(0, 0, 0, 0.80);">

                <!-- Bottom Footer -->
                <section class="padding background-dark full-width">
                    <div class="text-center">
                        <p class="text-size-12">Copyright 2018, Vision Design - graphic zoo</p>
                        <p class="text-size-12">All images is purchased from Bigstock. Do not use the images in your website.</p>
                    </div>
                </section>
            </footer>
        </div>
        <script type="text/javascript" src="js/responsee.js"></script>
        <script type="text/javascript" src="js/jquery.events.touch.js"></script>
        <script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
        <script type="text/javascript" src="js/template-scripts.js"></script> 
    </body>
</html>